#from Cheetah.Template import Template
#extends Template

<html>
	<head>
		<title>$title</title>
		<link rel="stylesheet" type="text/css" href="/css/navigation.css">
		
	</head>
	<body>
		<div id="navigation">
			<ul class="horizontal gray">
			#for $nav_item in $nav_menu
				#if $nav_activeitem == $nav_item['cpyref']
					<li><a href="$nav_item['cpyref']" class="active">$nav_item['name']</a></li>
				#else
					<li><a href="$nav_item['cpyref']" class="inactive">$nav_item['name']</a></li>
				#end if
			#end for
			</ul>
		</div>

		<p>
		$contents
		</p>
	</body>
</html>



