#from Cheetah.Template import Template
#extends Template
#import sqlite3

<html>
	<head>
		<title>$title</title>
		<link rel="stylesheet" type="text/css" href="/css/navigation.css">
		<link rel="stylesheet" type="text/css" href="/css/dbviewer.css">
	</head>
	<body>
		<div id="navigation">
			<ul class="horizontal gray">
			#for $nav_item in $nav_menu
				#if $nav_activeitem == $nav_item['cpyref']
					<li><a href="$nav_item['cpyref']" class="active">$nav_item['name']</a></li>
				#else
					<li><a href="$nav_item['cpyref']" class="inactive">$nav_item['name']</a></li>
				#end if
			#end for
			</ul>
		</div>
	
	##here we will publish a table with all the database columns
		<div id="content">
			<input type="text" id="myInput" onkeyup="filterPerTB()" placeholder="Search for testbed name.." title="Type in a name">
			## table css
			<table id="databaseviewer">
			
				## create header line 
				<tr>
				#for $desc in $db.description
					<th>$desc[0]</th>
				#end for
				</tr>

				
				## populates the entire table with query results
				#set $rows = $db.fetchall()
				#for $row in $rows
					<tr>
					#for $x in $row
						<td align="right" style="padding:1px 4px"> $x </td>
					#end for
					</tr>
				#end for

			</table>
		</div>
		
		<script>
			function filterPerTB() {
			  var input, filter, table, tr, td, i;
			  input = document.getElementById("myInput");
			  filter = input.value.toUpperCase();
			  table = document.getElementById("databaseviewer");
			  tr = table.getElementsByTagName("tr");
			  for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
				if (td) {
				  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				  } else {
					tr[i].style.display = "none";
				  }
				}       
			  }
			}
		</script>
	</body>
	
</html>



